* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $black;
}

// Generals
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// BUTTONS
.button {
  display: inline-block;
  padding: 8px 10px;
  border-radius: $border-radius-6;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 10px;
  width: max-content;
  transition: $transition;
  &:hover {
    box-shadow: none;
    color: $white;
  }
}

.button-border {
  background: transparent !important;
}

.button-primary-blue {
  @extend .button;
  color: $white;
  background-color: $primary-orange;
  box-shadow: -1px 4px 9px 0px rgba($primary-orange, $alpha: 0.2);
}

.button-secondary-blue {
  @extend .button;
  color: $white;
  background-color: $secondary-orange;
  box-shadow: -1px 4px 9px 0px rgba($secondary-orange, $alpha: 0.2);

  &.button-border {
    color: $secondary-orange;
    border: 1px solid $secondary-orange;
  }
}

// BADGES
.badge {
}

.badge-danger {
  @extend .badge;

  color: $danger;
  background: rgba($danger, $alpha: 0.1);
}

// Home slider
.home__slider {
  width: 100%;
}

.home__slider .swiper-slide {
}

.home__slider img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: $primary-orange;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-prev {
  left: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 70px;
}

.home__slider-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home__slider-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: $primary-orange;
}
