* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $dark-blue;
}

// Generals
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// BUTTONS
.button {
  display: inline-block;
  padding: 8px 10px;
  border-radius: $border-radius-6;
  font-size: $head-4;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 10px;
  width: max-content;
  transition: $transition;
  &:hover {
    box-shadow: none;
    color: $white;
  }
}

.button-border {
  background: transparent !important;
}

.button-primary-blue {
  @extend .button;
  color: $white;
  background-color: $primary-blue;
  box-shadow: -1px 4px 9px 0px rgba($primary-blue, $alpha: 0.2);
}

.button-secondary-blue {
  @extend .button;
  color: $white;
  background-color: $secondary-blue;
  box-shadow: -1px 4px 9px 0px rgba($secondary-blue, $alpha: 0.2);

  &.button-border {
    color: $secondary-blue;
    border: 1px solid $secondary-blue;
  }
}

// BADGES
.badge {
}

.badge-danger {
  @extend .badge;

  color: $danger;
  background: rgba($danger, $alpha: 0.1);
}

// HEAD
// .head {
//   font-weight: bold;
// }

// .head-
