// COLORS
$primary-blue: #2d42b5;
$secondary-blue: #5a75e6;
$dark-blue: #363c60;
$baby-blue: #4d6ae2;
$light-blue: #eef0fd;
$white: #ffffff;
$danger: #ff4f2f;
$success: #57ff65;

// FONTS
$head-1: 31px;
$head-2: 25px;
$head-3: 18px;
$head-4: 15px;

// OTHERS
$transition: 0.4s ease-in-out;
