// COLORS
$primary-orange: #f27933;
$secondary-orange: #ffa26c;
$primary-purple: #5e3490;
$secondary-purple: #ba82ff;
$primary-green: #9ab73a;
$secondary-green: #deff70;
$black: #222;
$white: #ffffff;
$light: #f1f1f1;
$danger: #d83d3d;
$success: #57ff65;

// BORDER RADIUS
$border-radius-4: 4px;
$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-rouned: 50%;

// OTHERS
$transition: 0.4s ease-in-out;
$box-shadow-1: 0 0 6px 0;
