@import "./variables";

.model-prop {
  font-size: 25px;
  color: $black;
}
.main-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.addDetails-img {
  text-align: center;
  border: 2px solid $light;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .right-section {
    margin-top: 10px;
  }
}

.desc-of-items {
  background-color: $light;
  padding: 10px 12px;
  font-size: 22px;
  object-fit: contain;
  margin-top: 4px;
  border-radius: 6px;
}
.left-star {
  span {
    display: block;
    cursor: pointer;
  }
}

.right-report {
  span {
    display: block;
    cursor: pointer;
  }
}

.triangle {
  display: block;
  background-color: $light;
  padding: 7px 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.product-info {
  border: 1px solid $light;
  margin-top: 5px;
  border-radius: 6px;
}
.product-info ul {
  list-style: none;
  li {
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
  }
}
.product-info ul li {
  border-bottom: 1px solid $light;
}
.product-info ul li:last-of-type {
  border-bottom: 0;
}
.product-desc {
  font-size: 15px;
  line-height: 1.4;
  padding: 15px 12px;
  border: 1px solid $light;
  margin-top: 9px;
  border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 12px;
}
.product_description {
  color: $secondary-orange;
  font-size: 14px;
}
.send-message,
.calling {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: $secondary-orange;
  color: white;
  font-weight: bold;

  .text {
    padding-left: 4px;
  }
}
.main-content a {
  margin-top: 20px;
  margin-bottom: 10px;
}
.another-addOfUser {
  padding-top: 10px;
  border: 1px solid $light;
}
.user-item-1 {
  border-bottom: 1px solid;
  box-shadow: 0 0 4px #eee;
}
.user-item-1 img {
  width: 100%;
  height: auto !important;
  object-fit: cover;
}
.user-item-1 p {
  text-align: center;
  padding: 4px 3px;
  line-height: 1.4;
}
h2.title_related {
  padding-top: 25px;
  font-weight: bold;
  color: $primary-orange;
  font-size: 25px;
}

.related-card-1:hover img {
  // padding: 4px;
  transform: scale(1.1);
  transition: scale 0.4s ease;
}
.related-card-1:hover .card {
  border-bottom: 2px solid $primary-orange;
  transition: border 0.2s ease-in-out;
}

.important-tips {
  padding: 25px 7px;
  max-width: 400px;

  margin-top: 10px;
  background-color: $light;
  color: $secondary-orange;

  ul {
    list-style: none;
  }
  li {
    display: flex;
    padding: 6px 0;
  }
  li div {
    margin-right: 3px;
  }
}
.swiper.last-one {
  width: 100%;
  border: 2px solid $light;
  padding: 4px;
  border-radius: 4px;
}
.another-product_title {
  color: $primary-orange;
  font-size: 25px;
  margin-top: 15px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide.last img {
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 768px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.form-content {
  background-color: $light;
  padding: 30px 20px;
  border: 1px solid rgb(202, 198, 198);
  border-radius: 4px;
}

.form-content form {
  input {
    margin-top: 4px;
    display: block;
    width: 380px;
    padding: 5px 3px;
    border-radius: 4px;
    outline: 0;
    margin-bottom: 20px;
    border: 2px solid rgb(146, 146, 146);
  }

  textarea {
    display: block;
    width: 100%;
    padding: 16px;
    border: 1px solid rgb(146, 146, 146);
    outline: 0;
  }
}
.add_attachment {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.product__desc .product_description {
  font-weight: bold;
  color: $primary-orange;
  font-size: 25px;
  padding-top: 10px;
}
.contact_title {
  padding-top: 12px;
  color: $primary-orange;
  font-size: 27px;
}
