@import "./variables";

.model-prop {
  font-size: 15px;
}
.main-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.addDetails-img {
  text-align: center;
  border: 2px solid $light-blue;
  border-radius: 6px;
}
.right-section {
}
@media (max-width: 768px) {
  .right-section {
    margin-top: 10px;
  }
}

.desc-of-items {
  background-color: $light-blue;
  padding: 10px 12px;
  font-size: 22px;
  object-fit: contain;
  margin-top: 4px;
  border-radius: 6px;
}
.left-star {
  span {
    display: block;
    cursor: pointer;
  }
}

.right-report {
  span {
    display: block;
    cursor: pointer;
  }
}

.triangle {
  width: 250px;
  display: block;
  background-color: $light-blue;
  padding: 7px 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.product-info {
  border: 1px solid $light-blue;
  margin-top: 5px;
  border-radius: 6px;
}
.product-info ul {
  list-style: none;
  li {
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
  }
}

.product-desc {
  font-size: 15px;
  line-height: 1.4;
  padding: 15px 12px;

  border: 1px solid $light-blue;
  margin-top: 9px;
  border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.send-message,
.calling {
  display: flex;
  align-items: center;
  margin: 0 4px;
  padding: 12px 15px;
  background-color: $secondary-blue;
  color: white;
  font-weight: bold;
  width: 250px;

  .text {
    padding-left: 4px;
  }
}
.calling {
  margin-top: 4px;
}
.another-addOfUser {
  padding-top: 10px;
}
.user-item-1 {
  border-bottom: 1px solid;
  box-shadow: 0 0 4px #eee;
}
.user-item-1 img {
  width: 100%;
  height: auto !important;
  object-fit: cover;
}
.user-item-1 p {
  text-align: center;
  padding: 4px 3px;
  line-height: 1.4;
}
.related {
  padding-top: 25px;
  font-size: 33px;
  font-weight: bold;
  color: $secondary-blue;
}
.related-card-1 {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4px;
  border: 1px solid $light-blue;
  transition: scale $transition;
  transition: scale 0.4s ease;
  border-radius: 6px;

  .card {
    border: 0 !important;
  }
}
.related-card-1:hover img {
  // padding: 4px;
  transform: scale(1.1);
  transition: scale 0.4s ease;
}
.related-card-1:hover .card {
  border-bottom: 2px solid $primary-blue;
  transition: border 0.2s ease-in-out;
}

.important-tips {
  padding: 25px 7px;
  width: 250px;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
  background-color: $light-blue;
  color: $secondary-blue;

  h3 {
    font-size: 17px;
    color: $secondary-blue !important;
  }

  .another-product_title {
    color: $secondary-blue;
    font-size: $head-2;
    margin-top: 15px;
  }
  ul {
    list-style: none;
  }
  li {
    display: flex;
    padding: 6px 0;
  }
  li div {
    margin-right: 3px;
  }
}
.swiper.last-one {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide.last img {
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 768px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: 1fr;
  }
}
