.model-prop {
  font-size: 25px;
  color: #222;
}

.main-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  display: none;
}
.main-img.first-img {
  display: block;
}

.addDetails-img {
  text-align: center;
  border: 2px solid #f1f1f1;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .right-section {
    margin-top: 10px;
  }
}
.desc-of-items {
  background-color: #ffffff;
  padding: 10px 12px;
  font-size: 22px;
  object-fit: contain;
  margin-top: 9px;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.2);
  margin-bottom: 16px;
}

.left-star {
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.left-star span {
  display: block;
  cursor: pointer;
}
.left-star i {
  cursor: pointer;
}

.right-report {
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.right-report span {
  display: block;
  cursor: pointer;
}
.right-report i {
  cursor: pointer;
}

.desc-of-items .add_to_favourit {
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.desc-of-items .add_to_favourit span {
  display: block;
  cursor: pointer;
}
.desc-of-items .add_to_favourit i {
  cursor: pointer;
}

.desc-of-items .left-star:hover {
  background-color: rgba(255, 162, 108, 0.1);
}

.desc-of-items .right-report:hover {
  background-color: rgba(255, 162, 108, 0.1);
}

.desc-of-items .add_to_favourit:hover {
  background-color: rgba(255, 162, 108, 0.1);
}

.triangle {
  background-color: #ffffff;
  padding: 7px 10px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.1);
  border-radius: 5px;
  font-size: 30px;
}
.triangle .dollar__sign {
  font-size: 20px;
  color: #f27933;
}

.product-info {
  border: 1px solid #f1f1f1;
  margin-top: 5px;
  border-radius: 6px;
}

.product-info ul {
  list-style: none;
}
.product-info ul li {
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}

.product-info ul li {
  border-bottom: 1px solid #f1f1f1;
}

.product-info ul li:last-of-type {
  border-bottom: 0;
}

.product-desc {
  font-size: 15px;
  line-height: 1.4;
  padding: 15px 12px;
  border: 1px solid #f1f1f1;
  margin-top: 9px;
  border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.product_description {
  color: #ffa26c;
  font-size: 14px;
}

.send-message,
.calling {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: #ffa26c;
  color: white;
  font-weight: bold;
  outline: 0;
  border: none;
  width: 100%;
}
.send-message .text,
.calling .text {
  padding-left: 4px;
}

.main-content a {
  margin-bottom: 10px;
}

.another-addOfUser {
  padding-top: 10px;
  border: 1px solid #f1f1f1;
}

.user-item-1 {
  border-bottom: 1px solid;
  box-shadow: 0 0 4px #eee;
}

.user-item-1 img {
  width: 100%;
  height: auto !important;
  object-fit: cover;
}

.user-item-1 p {
  text-align: center;
  padding: 4px 3px;
  line-height: 1.4;
}

h2.title_related {
  padding-top: 25px;
  font-weight: bold;
  color: #f27933;
  font-size: 25px;
}

.related-card-1:hover img {
  transform: scale(1.1);
  transition: scale 0.4s ease;
}

.related-card-1:hover .card {
  border-bottom: 2px solid #f27933;
  transition: border 0.2s ease-in-out;
}

.important-tips {
  max-width: 400px;
  padding: 11px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.1);
  border-radius: 5px;
}
.important-tips li {
  font-size: 14px;
}

.swiper.last-one {
  width: 100%;
  border: 2px solid #f1f1f1;
  padding: 4px;
  border-radius: 4px;
}

.another-product_title {
  color: #f27933;
  font-size: 25px;
  margin-top: 15px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.last img {
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 768px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.form-content {
  background-color: #ffffff;
  padding: 30px 20px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  text-transform: capitalize;
}

.add_attachment {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.btn__send {
  margin-top: 6px;
  background-color: #f27933;
  display: block;
  width: 100px;
  height: 48px;
  color: white;
  padding: 4px;
  font-size: 19px;
  border-radius: 6px;
  border: 0;
  outline: none;
}

.product__desc .product_description {
  font-weight: bold;
  color: #f27933;
  font-size: 25px;
  padding-top: 10px;
}

.contact_title {
  padding-top: 12px;
  color: #f27933;
  font-size: 27px;
}

.map__img {
  position: relative;
  text-align: center;
}
.map__img img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.map__img .map__description {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
.map__img .map__description p {
  margin: 0;
}
.map__img .map__description i {
  display: block;
  z-index: 4;
  font-size: 30px;
  margin-right: 5px;
}

.map__description > div {
  text-align: left;
}

.user__details {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px;
}
.user__details img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.user__details h5 {
  margin-top: 7px;
}

.user__details + p {
  margin-top: -10px;
  color: #777;
  font-size: 13px;
}