.main-content {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 20px;
}
.main-content img {
  width: 90%;
  object-fit: contain;
}

.triangle {
  width: fit-content;
  display: block;
  background-color: #F7F6F6;
  padding: 7px 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}