header {
  background-color: #eef0fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 0 0 6px 0 rgba(45, 66, 181, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  position: sticky;
  z-index: 2;
}
header .left-header {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
header .left-header .logo {
  display: block;
}
header .left-header .logo img {
  width: 65px;
}
header .right-header {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
header .right-header .notifications-settings .notification-icon {
  cursor: pointer;
  position: relative;
}
header .right-header .notifications-settings .notification-icon .badge {
  position: absolute;
  top: -6px;
  left: -9px;
  font-size: 0.65em;
  padding: 0.25em 0.45em;
}
header .right-header .lang .lang_trigger_icon {
  cursor: pointer;
}
header .right-header .lang .lang_trigger_icon img {
  width: 30px;
  object-fit: cover;
}
header .right-header .user-settings {
  position: relative;
}
header .right-header .user-settings .user-icon {
  cursor: pointer;
}
header .right-header .user-settings .user-icon img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
header .right-header .user-settings .user-settings-list {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #eef0fd;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  display: none;
}
header .right-header .user-settings .user-settings-list .user-settings-link {
  display: block;
  color: #5a75e6;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s ease-in-out;
  font-size: 15px;
}
header .right-header .user-settings .user-settings-list .user-settings-link:not(:last-child) {
  margin-bottom: 5px;
}
header .right-header .user-settings .user-settings-list .user-settings-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
header .right-header .user-settings .user-settings-list .user-settings-link img,
header .right-header .user-settings .user-settings-list .user-settings-link i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #2d42b5;
}