* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222;
  height: 5000px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button, .button-secondary-blue, .button-primary-blue {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 10px;
  width: max-content;
  transition: 0.4s ease-in-out;
}
.button:hover, .button-secondary-blue:hover, .button-primary-blue:hover {
  box-shadow: none;
  color: #ffffff;
}

.button-border {
  background: transparent !important;
}

.button-primary-blue {
  color: #ffffff;
  background-color: #f27933;
  box-shadow: -1px 4px 9px 0px rgba(242, 121, 51, 0.2);
}

.button-secondary-blue {
  color: #ffffff;
  background-color: #ffa26c;
  box-shadow: -1px 4px 9px 0px rgba(255, 162, 108, 0.2);
}
.button-secondary-blue.button-border {
  color: #ffa26c;
  border: 1px solid #ffa26c;
}

.badge-danger {
  color: #d83d3d;
  background: rgba(216, 61, 61, 0.1);
}

.card__product {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.1);
  display: block;
  text-decoration: none;
}
.card__product .add__to__fav {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #f1f1f1;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.card__product .add__to__fav:hover, .card__product .add__to__fav.active {
  color: #ffd727;
}
.card__product .product__img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}
.card__product:hover .product__info {
  bottom: 0;
}
.card__product:hover .product__img {
  transform: scale(1.2);
}
.card__product .product__info {
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  padding: 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.4s ease-in-out;
  height: 100px;
}
.card__product .product__info .main__info {
  display: flex;
  justify-content: space-between;
}
.card__product .product__info .main__info .title__category span {
  display: block;
}
.card__product .product__info .main__info .title__category .title {
  font-size: 18px;
  color: #222;
}
.card__product .product__info .main__info .title__category .category {
  color: #f27933;
  font-size: 14px;
  margin-top: -5px;
}
.card__product .product__info .main__info .price {
  color: #ffffff;
  background-color: #ffa26c;
  width: max-content;
  height: max-content;
  padding: 3px 5px;
  font-size: 15px;
  border-radius: 3px;
}
.card__product .product__info .main__info .price .currency {
  font-size: 11px;
}
.card__product .product__info .date__location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: rgba(34, 34, 34, 0.5);
}

.home__slider {
  width: 100%;
}

.home__slider img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f27933;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-prev {
  left: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 70px;
}

.home__slider-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home__slider-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #f27933;
}

.products__section .filter__content {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.08);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  flex-wrap: wrap;
}
.products__section .filter__content input,
.products__section .filter__content select {
  outline: none;
  border: none;
  background: none;
  border-radius: 5px;
  display: block;
  flex: 1;
  padding: 10px;
  height: 50px;
  background-color: rgba(255, 162, 108, 0.08);
}
@media (min-width: 1800px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1650px;
  }
}
@media (max-width: 1199px) {
  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 50px;
  }

  .home__slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 767px) {
  header .right-header .notifications-settings .notifications-settings-list {
    top: 80px;
    width: 300px;
    right: 50%;
    transform: translateX(50%);
  }

  .home__slider-pagination .swiper-pagination-bullet,
.swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
@media (max-width: 500px) {
  header .left-header .logo img {
    width: 50px;
  }

  header .right-header .user-settings .user-icon img {
    width: 45px;
    height: 45px;
  }

  .button, .button-primary-blue, .button-secondary-blue {
    padding: 4px 7px;
    font-size: 13px;
  }

  .nav-links {
    display: none;
  }

  .notifications-settings-list .notifications {
    height: 200px !important;
  }

  .notifications-head {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .notification-link,
.user-settings-link {
    font-size: 12px !important;
    margin-bottom: 3px;
  }

  .user-settings-link i {
    font-size: 15px !important;
  }
}
@media (max-width: 380px) {
  header {
    height: 60px;
  }
  header .header__content {
    height: 60px;
  }
  header .left-header {
    gap: 0 10px;
  }
  header .left-header .logo img {
    width: 50px;
  }
  header .right-header .lang .lang_trigger_icon img {
    width: 24px;
  }
  header .right-header .user-settings .user-icon img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  header .right-header .user-settings .user-settings-list {
    top: 60px;
    width: 250px;
    padding: 5px;
  }
  header .right-header .user-settings .user-settings-list .user-settings-link {
    padding: 3px;
    gap: 5px;
    transition: 0.4s ease-in-out;
    font-size: 13px;
  }
  header .right-header .user-settings .user-settings-list .user-settings-link:not(:last-child) {
    margin-bottom: 5px;
  }
  header .right-header .user-settings .user-settings-list .user-settings-link img,
header .right-header .user-settings .user-settings-list .user-settings-link i {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  header .right-header .notifications-settings {
    position: initial;
  }
  header .right-header .notifications-settings .notifications-settings-list {
    top: 70px;
    right: 20px;
  }

  .home__slider img {
    height: calc(100vh - 60px);
  }
}